# Patterns to ignore when building Helm packages.
.DS_Store
.git/
.gitignore
.bzr/
.hg/
.hgignore
.svn/
*.tmp
*.bak
*.swp
*.orig
*~
.idea/
.vscode/
.project
*.tgz
# Local dev / CI scratch
ci/
tests/
*.log
